/* all */
    body
    {
        color: black;
    }
/* all / end */

/* form*/
form
{
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
}

img
{
    margin-left: 25%;
    margin-right:25%;

}
